@import 'tailwindcss';

@theme {
  --color-vue: #42b883;
  --color-vue-text: #213547;
}

body {
  background-color: #18181b;
}

@utility p-page {
  @apply px-3 md:px-10 pt-12;
}

.movie-card:hover div {
  opacity: 1;
}
